---
- name: Update and upgrade packages
  apt:
    upgrade: full
    update_cache: yes
    allow_downgrade: yes
    autoclean: yes
    autoremove: yes
  become: true
  retries: 5
  delay: 5
  register: result
  until: result is not failed
  when: ansible_facts['os_family'] == 'Debian'

- name: Ensure the different utilities are installed (mac)
  community.general.homebrew:
    name: "{{ homebrew_packages }}"
    state: present
    update_homebrew: true
  when: ansible_facts['os_family'] == 'Darwin'

- name: Ensure the extra utilities are installed (mac)
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_cask_packages }}"
  ignore_errors: true
  when: ansible_facts['os_family'] == 'Darwin'

- name: Ensure the different utilitis are installed (linux)
  package:
    name: "{{ linux_packages }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Ensure neovim meets minimum version requirements (Debian)
  import_tasks: debian_neovim.yml
  when: ansible_facts['os_family'] == 'Debian'

- name: Update packages (Arch)
  community.general.pacman:
    update_cache: yes
    upgrade: yes
  become: true
  when: ansible_facts['os_family'] == 'Archlinux'

- name: Install packages (Arch)
  community.general.pacman:
    name: "{{ arch_packages }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Archlinux'

- name: Find neovim binary path
  command: which nvim
  register: nvim_path_result
  changed_when: false
  failed_when: false
  when: ansible_facts['os_family'] in ['Debian', 'Archlinux']

- name: Set neovim binary path
  set_fact:
    nvim_binary_path: "{{ nvim_path_result.stdout }}"
  when:
    - ansible_facts['os_family'] in ['Debian', 'Archlinux']
    - nvim_path_result.rc == 0

- name: Configure update-alternatives for nvim and vim to point to neovim
  alternatives:
    name: "{{ item.name }}"
    link: "/usr/bin/{{ item.name }}"
    path: "{{ nvim_binary_path }}"
    priority: 60
  become: true
  loop:
    - { name: "nvim" }
    - { name: "vim" }
    - { name: "editor" }
  when:
    - ansible_facts['os_family'] in ['Debian', 'Archlinux']
    - nvim_binary_path is defined

- name: Configure update-alternatives for vi to point to vim.nox (Debian)
  alternatives:
    name: vi
    link: /usr/bin/vi
    path: /usr/bin/vim.nox
    priority: 60
  become: true
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nvim_binary_path is defined

- name: Configure update-alternatives for vi to point to vim (Arch)
  alternatives:
    name: vi
    link: /usr/bin/vi
    path: /usr/bin/vim
    priority: 60
  become: true
  when:
    - ansible_facts['os_family'] == 'Archlinux'
    - nvim_binary_path is defined

- name: Install amun CLI
  import_tasks: all_amun.yml
