---
- name: Update and upgrade packages
  apt:
    upgrade: full
    update_cache: yes
    allow_downgrade: yes
    autoclean: yes
    autoremove: yes
  become: true
  retries: 5
  delay: 5
  register: result
  until: result is not failed
  when: ansible_facts['os_family'] == 'Debian'

- name: Ensure the different utilities are installed (mac)
  community.general.homebrew:
    name: "{{ homebrew_packages }}"
    state: present
    update_homebrew: true
  when: ansible_facts['os_family'] == 'Darwin'

- name: Ensure the extra utilities are installed (mac)
  community.general.homebrew_cask:
    name: "{{ homebrew_cask_packages }}"
    state: present
    update_homebrew: true
  when: ansible_facts['os_family'] == 'Darwin'

- name: Ensure the different utilitis are installed (linux)
  package:
    name: "{{ linux_packages }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Update packages (Arch)
  community.general.pacman:
    update_cache: yes
    upgrade: yes
  become: true
  when: ansible_facts['os_family'] == 'Archlinux'

- name: Install packages (Arch)
  community.general.pacman:
    name: "{{ arch_packages }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Archlinux'
